

@import "mixins.scss";
@import "variables.scss";



.#{$css-prefix}avatar {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border-radius: $border-radius;


  &--small {
    @include icon-small-boundary
  }

  &--medium {
    @include icon-medium-boundary
  }

  &--large {
    @include icon-large-boundary
  }

  &--xlarge {
    @include icon-xlarge-boundary
  }

}
